

*{
  margin: 0;
  padding: 0;
}

  


.bg-dark {
  --bs-bg-opacity: 1;
  background-color: black!important;
}
  

header {
  display: flex;
  height: 70;
  width: auto;    
  justify-content: center;     
  padding: 10px;      
  text-align: center;  
     
   }
   .nav-item :hover{
    color:$color-relleno;
   }    
  
    
  .navbar-brand img{
    width: 250px;
    height: 100%;    
    
  } 

main{
  display: flex; 
  position: relative;   
  padding: 2rem;
}

.video {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}.marca{
  margin-top:20px;
  text-align: center;   
    font-size: 40px;
    font-weight: 600;    
    padding-bottom: 15px;
    height: 50px;    
    @include color-gradientes;
    @include mobile{
      font-size: 35px;
    }  
}
.destacados{
  display: flex;
  justify-content: center;
  margin: 5px;
  align-items: center; 
}
.container-md {
  padding: 5px;
  margin: 0px;  
} 

.desta h2{
  @extend .marca ;
  @include color-gradientes;
  @include mobile {
    font-size: 25px;
  }
}

.formasdepago img{ 
  display: flex;   
  height: 50px;
  width: 50px;      
}  
.container-fluid{
  @include mobile{
      text-align: center;
    }
    @include tablet{
      text-align: center;
    }
    
  }
  .btn.btn-outline-success{
    --bs-btn-color: rgb(79 172 243);
    --bs-btn-border-color: rgb(79 172 243);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(79 172 243);
    --bs-btn-hover-border-color: rgb(79 172 243);
  }
  
  
   .container-lg{
    @include tablet{
      width: auto;
      height: 200px;}
      
   }
  
   .container-{
    @include tablet{
      display: flex;
      justify-content: space-evenly;
   }
   }
   .container-li{
    @include tablet{
      justify-content: space-between;
   }  
   }
   
   .pie-de-pagina{
    @include tablet{
    text-align: center;
   }
  }
  .button-compras{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
    border : none;    
    background-color: black;
    color:rgb(186, 178, 178);
    font-size: 25px;
    :hover{
      color: white;       
      text-shadow: 0 10 10px rgb(255, 250, 250),
      0 20 20px rgb(255, 255, 255),
      0 60 60px white;     
  }
  }
  
  