

*{
  margin: 0;
  padding: 0;
}

  


.bg-dark {
  --bs-bg-opacity: 1;
  background-color: black!important;
}
  

header {
  display: flex;
  height: 70;
  width: auto;    
  justify-content: center;     
  padding: 10px;      
  text-align: center;  
     
   }
   .nav-item :hover{
    color:#198754;
   }    
  
    
  .navbar-brand img{
    width: 250px;
    height: 100%;    
    
  } 

main{
  display: flex; 
  position: relative;   
  padding: 2rem;
}

.video {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}.marca{
  text-align: center;    
    font-size: 60px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
  
}  
.destacados{
  display: flex;
  justify-content: center;
  margin: 5px;
  align-items: center;    
}
.container-md {
  padding: 5px;
  
} 

.desta h2{
  @extend .marca ;
}

.formasdepago img{ 
  display: flex;   
  height: 50px;
  width: 50px;      
}


img.col1{
  width: 350px;
  height: 350px;
  margin-top:20px ;
  @include mobile{
          width: 300px;
          height: 300px;
          padding-left: 50px;
          margin-bottom: 10px;        
        }    
} 
  
.container-fluid{
  @include mobile{
      text-align: center;
    }
    @include tablet{
      text-align: center;
    }
    
  }
  @media screen and (max-width: 768px) {      
        

    
    
    
  
   .container-lg{
      width: auto;
      height: 200px;
      
   }
  
   .container-{
      display: flex;
      justify-content: space-evenly;
   }
   .container-li{
      justify-content: space-between;
   }  
   
   .pie-de-pagina{
    text-align: center;
   }
  }
   