$color-principal:rgb(249, 249, 250);
$color-secundario: rgb(8, 8, 8); 
$color-relleno :#7d7d8593 ;
@mixin color-gradientes {
    background: linear-gradient(to left, black, gray);
    color: white;    
}
@mixin color-azul {
  background: linear-gradient(to left,#4facf3, rgb(20, 19, 19),#4facf3 );
  color: white;    
}
$color:('principal':rgb(249, 249, 250),'secundario': rgb(8, 8, 8),'relleno' :#7d7d8593  );
 
@mixin mobile {
    @media screen and (max-width:480px) {        
        
      @content;
    }
}
 @mixin tablet {
    @media screen and (max-width:768px) {        
            
      @content;        }
}
@mixin desktop {
    @media screen and (max-width:992px) {        
        
      @content;
    }
}  
     
@mixin roboto {
        font-family: 'Mouse Memoirs', sans-serif;
        font-family: 'Roboto', sans-serif;
    }
    
    
